
modules = ["nodejs-20", "web", "python-3.12"]
run = "cd backend && python app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && python app.py"]

[[ports]]
localPort = 5000
externalPort = 80
